/*
Colors used:
Type (dark grey): #2f2f2f;
Primary Color (Orange): #e27900;
Secondary Color (Light Orange): #ffe1be;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  /* sets font weight to 300, particularly for paragraph */
  line-height: 1.6;
  /* multiple of font-size becomes the leading */
  color: #2f2f2f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  color: #e27900;
}

h2 {
  font-size: 1.7em;
  font-weight: 600;
  color: #e27900;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #e27900;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  margin-top: 10px;
}

img {
  width: 100%;
}

a {
  color: #e27900;
  /* hyperlinks will not be underlined */
}

a:visited {
  color: #e27900;
}

a:hover,
a:focus {
  color: #d37100;
  text-decoration: none;
  /* hyperlink is underlined when hovering */
}

a:active {
  color: #ff4d00;
}

/* Transition effect when sliding down (and up)
#navbar {
  transition: top 0.5s;
}*/

.button {
  display: inline-block;
  background-color: #e27900;
  color: #2e2e2e;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d37100;
  transition: 0.2s opacity;
  /*  transition-duration: 0.2s;
    transition-property: opacity; */
}

.button:visited {
  color: #2e2e2e;
}

.button:hover {
  color: #2e2e2e;
  opacity: 0.8;
}

.button:active {
  color: #d37100;
}

.button.contact {
  background-color: transparent;
  color: #c86b00;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #c86b00;
  margin-bottom: 25px;
  transition: 0.2s;
}

.button.contact:hover {
  background-color: #e27900;
  color: #2e2e2e;
  border-bottom: 2px solid #d37100;
}

.button.contact:active {
  color: #d37100;
}

/* Layout styling */
header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 97px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #2f2f2f;
}

.projects .row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

#hero {
  background-color: #ffe1be;
  background-image: linear-gradient(to bottom, #ffe1be, #ffffff);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
  font-size: 60%;
  margin-top: 1em;
}

#hero h1 {
  color: #c86b00;
}

.logo {
  max-width: 125px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #2f2f2f;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #2f2f2f;
}

nav>ul>li>a:hover {
  color: #e27900;
}

nav>ul>li>a:active {
  color: #2f2f2f;
}

.active {
  color: #e27900 !important;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(226, 121, 0, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.social .fab {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px;
  /* I added this because the icons didn't seem centered due to the margin-right on the instagram icon */
  margin-bottom: 10px;
  color: #c86b00;
}

.social .fab:hover {
  opacity: 0.8;
}

.row .skill-tools {
  margin-top: 0;
}

.skills-tools h3 {
  margin-top: 15px;
  margin-bottom: 0;
}

.skills-tools ul {
  list-style-type: none;
  /*text-align: center;*/
  padding: 0;
  margin: 0 0 20px 0;
}

.copy {
  font-size: 70%;
}

footer {
  background-color: #ffe1be;
  background-image: linear-gradient(to top, #ffe1be, #ffffff);
  text-align: center;
  padding: 10px 0;
}

footer h2 {
  color: #c86b00;
  margin: 10px 0;
}

footer a {
  color: #c86b00;
}

.skyline {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.st0 {
  fill: #ffe2a9;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #80c9ff;
  }
}

.st1 {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-function: linear;
}

@keyframes color-change2 {
  0% {
    fill: #97c2d3;
  }

  50% {
    fill: #81a6b5;
  }

  100% {
    fill: #1c4556;
  }
}

/* I was trying to get two animations for one element, but it seems that it only allows for one as it the newest one surpasses this
.plane {
  animation-duration: 8s;
  animation-name: color-change2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-function: linear;
}*/
@keyframes plane-fly {
  from {
    transform: translate(-100px, 1px);
  }
  to {
    transform: translate(700px, 1px);
  }
}

.plane {
  fill: #1c4556;
}

.plane {
  animation-duration: 12s;
  animation-name: plane-fly;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

/* +++++++++++++++++++++++++++
MEDIUM DEVICES (640px and larger)
+++++++++++++++++++++++++++ */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .hero p {
    margin-left: 50px;
    margin-right: 50px;
  }

.button-proj {
  margin-bottom: 25px;
}

.screens{
  max-inline-size: 300px;
}

  .logo {
    max-width: 150px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
    font-size: .9em;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav ul a {
    position: relative;
    padding: 5px 0px !important;
    margin: 0px 15px;
  }

  ul.borderxwidth a:before, ul.borderxwidth a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #e27900;
    transition: all 0.4s;
  }

  ul.borderxwidth a:before {
    left: 0px;
    top: 0px;
  }

  ul.borderxwidth a:after {
    right: 0px;
    bottom: 0px;
  }

  ul.borderxwidth a:hover:before, ul.borderxwidth a:hover:after {
    opacity: 1;
    width: 100%;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding: 0;
    border: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 132px;
  }

  /*CONSIDER ADDING PADDING TO ALL SECTIONS AND THEREFORE REMOVE PADDING FROM HERO
#hero {
  padding: 0;
}

.project-summmary {
  padding:2em 0;
}*/
  h1 {
    font-size: 2.2em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  [class*="col-"] h3 {
    margin-top: -6px;
  }

  .skill-tools h3 {
    margin-top: auto;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .summary picture {
    display: block;
    text-align: center;
  }

  .prof {
    max-width: 400px;
    border-radius: 100em;
    /*border: 2px solid #8e8e8e;*/
  }

  .button-dl {
    margin-bottom: 20px;
    /*to center the button
    display: block;
    max-width: 250px;
    text-align: center;
    margin: 2em auto;*/
  }

  .even, .odd {
    display: flex;
  }

  .odd {
    flex-direction: row-reverse;
  }

  .even .column, .odd .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .odd [class*="col-"] {
    float: right;
  }*/
}

/* +++++++++++++++++++++++++++
LARGE DEVICES (1024px and larger)
+++++++++++++++++++++++++++ */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero p {
    margin-left: 200px;
    margin-right: 200px;
  }

  .summary h2 {
    text-align: left;
  }

  .leftcol {
    width: 60%;
    height: 100%;
    float: left;
    padding-right: 25px;
  }

  .rightcol {
    width: 40%;
    height: 100%;
    float: right;
  }

  .skillscol {
    width: 30%;
  }

  .skills-tools {
    padding: 10px 0 0 0;
    float: none;
  }

  .skillscol {
    width: 30%;
  }

  .prof {
    margin-bottom: 10px;
  }

  .button-dl {
    margin-top: 20px;
  }
}

/* +++++++++++++++++++++++++++
X-LARGE DEVICES (1440px and larger)
+++++++++++++++++++++++++++ */
@media only screen and (min-width: 1440px) {}
