/*
Colors used:
Type (dark grey): #2f2f2f;
Primary Color (Orange): #ff8800;
Secondary Color (Light Orange): #ffe1be;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  /* sets font weight to 300, particularly for paragraph */
  line-height: 1.6;
  /* multiple of font-size becomes the leading */
  color: #2f2f2f;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 600;
  color: #ff8800;
  text-align: center;
}

h2 {
  font-size: 1.875em;
  font-weight: 600;
  color: #ff8800;
  text-align: center;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  color: #ff8800;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

p {
  margin-top: 10px;
}

img {
  width: 100%;
}

a {
  color: #ff8800;
  /* hyperlinks will not be underlined */
}

a:visited {
  color: #ff8800;
}

a:hover,
a:focus {
  color: #ffce96;
  text-decoration: none;
  /* hyperlink is underlined when hovering */
}

a:active {
  color: #ff4d00;
}

.button {
  display: inline-block;
  background-color: #ff8800;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #d37100;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  color: #d37100;
}

.button.contact {
  background-color: transparent;
  color: #ff8800;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #ff8800;
  margin-bottom: 25px;
}

.button.contact:hover {
  background-color: #ff8800;
  color: #ffffff;
}

.button.contact:active {
  color: #d37100;
}

/* Layout styling */
header {
  background-color: #ffe1be;
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.55);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 176px;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

.projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #2f2f2f;
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 150px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2f2f2f;
  text-decoration: none;
}

nav>ul>li>a:visited {
  color: #2f2f2f;
}

nav>ul>li>a:hover {
  color: #ff8800;
}

nav>ul>li>a:active {
  color: #2f2f2f;
}

.active {
  color: #ff8800 !important;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #ffe1be;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.social .fab {
  font-size: 40px;
  margin-right: 10px;
  margin-left: 10px; /* I added this because it the icons didn't seem centered due to the margin-right on the instagram icon */
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }

  .even, .odd {
    display: flex;
  }

  .odd {
    flex-direction: row-reverse;
  }

  .even .column, .odd .column {
    display: flex;
    align-items: center;
  }

  /*
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  .odd [class*="col-"] {
    float: right;
  }*/
}

#skills h3 {
  text-align: center;
}

#skills>ul {
  list-style-type: none;
  text-align: center;
}

#tools h3 {
  text-align: center;
}

#tools>ul {
  list-style-type: none;
  text-align: center;
}

footer {
  background-color: #ffe1be;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

footer h2{
  margin:10px 0;
}
